@model ApexClient.Models.Command


<div class="p-3 p-md-5 border rounded shadow-sm bg-light d-flex justify-content-center">
  <div class="mx-0 mx-md-5 p-3 p-md-5 border rounded shadow-sm bg-white w-100 w-md-75">
    <h3 class="mb-3">Add a new Command</h3>

    @using (Html.BeginForm("CreateNewCommand", "Commands", FormMethod.Post))
    {
      @Html.LabelFor(a => a.Shortcut)
      @Html.TextBoxFor(a => a.Shortcut, new {@class="form-control mb-3 shadow-sm", required="required", placeholder="Ex: Microsoft" })

      @Html.LabelFor(a => a.Keyword)
      @Html.TextBoxFor(a => a.Keyword, new {@class="form-control mb-3 shadow-sm", required="required", placeholder="Ex: Excel" })

      <label for="ApplicationId">
        Application
      </label>
      <select class="form-control mb-3 shadow-sm" id="ApplicationId" name="ApplicationId">
        @{
          foreach (var application in ViewBag.Applications)
          {
            <option value="@application.ApplicationId">@application.Manufacturer @application.Name @application.Version</option>
          }
        }
      </select>
      <input type="submit" value="Add" class="btn travel-color-darkest text-white mb-3 shadow-sm" />
    }

  </div>
</div>
