@model ApexClient.Models.Application


<div class="p-5 border rounded shadow-sm bg-light d-flex justify-content-center">
  <div class="mx-5 p-5 border rounded shadow-sm bg-white w-75">
    <h3 class="mb-3">Add a new application</h3>

    @using (Html.BeginForm("Create", "Applications", FormMethod.Post))
    {
      @Html.LabelFor(a => a.Manufacturer)
      @Html.TextBoxFor(a => a.Manufacturer, new {@class="form-control mb-3 shadow-sm", required="required", placeholder="Ex: Microsoft" })

      @Html.LabelFor(a => a.Name)
      @Html.TextBoxFor(a => a.Name, new {@class="form-control mb-3 shadow-sm", required="required", placeholder="Ex: Excel" })

      @Html.LabelFor(a => a.Version)
      @Html.TextBoxFor(a => a.Version, new {@class="form-control mb-3 shadow-sm", required="required", placeholder="Ex: 2019" })

      <input type="submit" value="Add" class="btn travel-color-darkest text-white mb-3 shadow-sm" />
    }

  </div>
</div>
