@using ApexClient.Models
@using Microsoft.AspNetCore.Mvc.ViewFeatures

<div class="pe-5 ps-3 py-4 border rounded shadow-sm bg-light">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <div class="mb-1">
        <h3 class="mb-2 fw-light ">Application Search</h3>
        <p>
          Search the list of saved applications
        </p>
        @* <form method="GET" action="/applications"> *@
        <form id="applicationSearchForm">
          <label for="manufacturer">Manufacturer</label>
          <div class="input-group my-3">
            <select class="form-control" id="manufacturer" name="manufacturer">
              <option disabled selected>-- Select --</option>
              @foreach (string manufacturer in ViewBag.Manufacturers)
              {
                <option value="@manufacturer">@manufacturer</option>
              }
            </select>
            <i class="bi bi-x-lg clearSelect" onClick="resetSelect('manufacturer')"></i>
          </div>
          <label for="name">Application Name</label>
          <div class="input-group mb-3">
            <select class="form-control" id="name" name="name">
              <option disabled selected>-- Select --</option>
              @foreach (string name in ViewBag.Applications)
              {
                <option value="@name">@name</option>
              }
            </select>
            <i class="bi bi-x-lg clearSelect" onClick="resetSelect('name')"></i>
          </div>
          <label for="version">Version</label>
          <div class="input-group mb-3">
            <select class="form-control" id="version" name="version">
              <option disabled selected>-- Select --</option>
              @foreach (string version in ViewBag.Versions)
              {
                <option value="@version">@version</option>
              }
            </select>
            <i class="bi bi-x-lg clearSelect" onClick="resetSelect('version')"></i>
          </div>
          <button class="btn btn-sm w-50 travel-color-darkest text-white shadow-sm">Search</button>
        </form>
      </div>
    </div>
    <div class="col-md-9 col-sm-12" id="result"></div>
  </div>
</div>
@{
  if (ViewBag.NewApplicationId != null)
  {
    <script>
      const appId = '@ViewBag.NewApplicationId';
      console.log(appId);
      loadCommandByApplicationId(appId);
    </script>
  }
}
